<color-switcher class="color-switcher">
  <button class="color-switcher__switcher">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 56 56"
    >
      <path
        d="m19.316 22.738 15.657 15.657c1.758 1.757 3.586 1.476 5.226-.165l11.625-11.578c1.64-1.64 1.899-3.468.14-5.226l-2.367-2.344c-2.788 2.484-10.617 8.063-11.835 6.844-.399-.399-.07-.75.164-.985 2.578-2.648 6.023-6.867 6.469-11.109L32.043 1.48C30.59.4 28.433.8 27.262 1.738c-2.367 3.352-2.32 8.953-7.946 15.656-1.546 1.876-1.804 3.54 0 5.344ZM5.488 52.832c3.094 3.047 6.985 3.14 9.75.375 2.18-2.156 4.453-7.945 6.024-10.64l6.562 6.538c1.875 1.876 3.961 1.922 5.719.165l1.477-1.5c1.757-1.758 1.71-3.844-.141-5.72L16.293 23.466c-1.875-1.899-3.938-1.945-5.719-.14L9.098 24.8c-1.805 1.781-1.758 3.82.14 5.719l6.516 6.539c-2.672 1.57-8.485 3.867-10.64 6.023-2.837 2.813-2.696 6.727.374 9.75Zm3.188-3.305c-.774-.797-.797-2.062 0-2.859.82-.797 2.086-.797 2.883 0 .796.82.796 2.039 0 2.86-.797.82-2.063.843-2.883 0Z"
      />
      <defs>
        <linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
          <stop offset="0%" stop-color="rgb(131,58,180)" />
          <stop offset="50%" stop-color="rgb(253,29,29)" />
          <stop offset="100%" stop-color="rgb(252,176,69)" />
        </linearGradient>
      </defs>
    </svg>
  </button>
  <ul class="color-switcher__colors">
    <li class="color-switcher__color">
      <button
        data-color="#ED3B44"
        data-hover="#cc2a32"
        data-type="red"
        style="background-color: #ed3b44"
      ></button>
    </li>
    <li class="color-switcher__color">
      <button
        data-color="#C6E327"
        data-hover="#9eb71a"
        data-type="green"
        style="background-color: #c6e327"
      ></button>
    </li>
    <li class="color-switcher__color">
      <button
        data-color="#0041E8"
        data-hover="#0634ac"
        data-type="blue"
        style="background-color: #0041e8"
      ></button>
    </li>
    <li class="color-switcher__color">
      <button
        data-color="#E6533C"
        data-hover="#e63317"
        data-type="orange"
        style="background-color: #e6533c"
      ></button>
    </li>
    <li class="color-switcher__color">
      <button
        data-color="#2B4441"
        data-hover="#203936"
        data-type="dark"
        style="background-color: #2b4441"
      ></button>
    </li>
    <li class="color-switcher__color">
      <button
        data-color="#FF7F08"
        data-hover="#d76a05"
        data-type="yellow"
        style="background-color: #ff7f08"
      ></button>
    </li>
  </ul>
</color-switcher>
