<section class="covers" id="covers">
  <h2 class="covers-title visually-hidden">Gallery of Covers</h2>
  <div class="covers-container container">
    <div class="covers-wrapper">
      <ul class="covers-list">
        <li class="covers-item first">
          <img
            src="./img/covers/body_shape.webp"
            srcset="
              /img/covers/body_shape.webp    1x,
              /img/covers/body_shape@2x.webp 2x
            "
            alt="Body Shape"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/english.webp"
            srcset="/img/covers/english.webp 1x, /img/covers/english@2x.webp 2x"
            alt="English"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/finances.webp"
            srcset="
              /img/covers/finances.webp    1x,
              /img/covers/finances@2x.webp 2x
            "
            alt="Finances"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/forms_and_nature.webp"
            srcset="
              /img/covers/forms_and_nature.webp    1x,
              /img/covers/forms_and_nature@2x.webp 2x
            "
            alt="Forms and Nature"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/fruits_basket.webp"
            srcset="
              /img/covers/fruits_basket.webp    1x,
              /img/covers/fruits_basket@2x.webp 2x
            "
            alt="Fruits Basket"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/mimino.webp"
            srcset="/img/covers/mimino.webp 1x, /img/covers/mimino@2x.webp 2x"
            alt="Mimino"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/online_business.webp"
            srcset="
              /img/covers/online_business.webp    1x,
              /img/covers/online_business@2x.webp 2x
            "
            alt="Online Business"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/organic.webp"
            srcset="/img/covers/organic.webp 1x, /img/covers/organic@2x.webp 2x"
            alt="Organic"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/power_pulse.webp"
            srcset="
              /img/covers/power_pulse.webp    1x,
              /img/covers/power_pulse@2x.webp 2x
            "
            alt="Power Pulse"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/ukrainian.webp"
            srcset="
              /img/covers/ukrainian.webp    1x,
              /img/covers/ukrainian@2x.webp 2x
            "
            alt="Ukrainian"
            width="544"
            height="314"
            loading="lazy"
          />
        </li>

        <!--  phill_masslo -->

        <li class="covers-item second">
          <img
            src="/img/covers/finances.webp"
            srcset="
              /img/covers/finances.webp    1x,
              /img/covers/finances@2x.webp 2x
            "
            alt="Finances"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/forms_and_nature.webp"
            srcset="
              /img/covers/forms_and_nature.webp    1x,
              /img/covers/forms_and_nature@2x.webp 2x
            "
            alt="Forms and Nature"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/fruits_basket.webp"
            srcset="
              /img/covers/fruits_basket.webp    1x,
              /img/covers/fruits_basket@2x.webp 2x
            "
            alt="Fruits Basket"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/mimino.webp"
            srcset="/img/covers/mimino.webp 1x, /img/covers/mimino@2x.webp 2x"
            alt="Mimino"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/online_business.webp"
            srcset="
              /img/covers/online_business.webp    1x,
              /img/covers/online_business@2x.webp 2x
            "
            alt="Online Business"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/organic.webp"
            srcset="/img/covers/organic.webp 1x, /img/covers/organic@2x.webp 2x"
            alt="Organic"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/power_pulse.webp"
            srcset="
              /img/covers/power_pulse.webp    1x,
              /img/covers/power_pulse@2x.webp 2x
            "
            alt="Power Pulse"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/ukrainian.webp"
            srcset="
              /img/covers/ukrainian.webp    1x,
              /img/covers/ukrainian@2x.webp 2x
            "
            alt="Ukrainian"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/body_shape.webp"
            srcset="
              /img/covers/body_shape.webp    1x,
              /img/covers/body_shape@2x.webp 2x
            "
            alt="Body Shape"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/english.webp"
            srcset="/img/covers/english.webp 1x, /img/covers/english@2x.webp 2x"
            alt="English"
            width="544"
            height="314"
            loading="lazy"
          />
        </li>

        <li class="covers-item third">
          <img
            src="/img/covers/fruits_basket.webp"
            srcset="
              /img/covers/fruits_basket.webp    1x,
              /img/covers/fruits_basket@2x.webp 2x
            "
            alt="Fruits Basket"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/mimino.webp"
            srcset="/img/covers/mimino.webp 1x, /img/covers/mimino@2x.webp 2x"
            alt="Mimino"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/online_business.webp"
            srcset="
              /img/covers/online_business.webp    1x,
              /img/covers/online_business@2x.webp 2x
            "
            alt="Online Business"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/organic.webp"
            srcset="/img/covers/organic.webp 1x, /img/covers/organic@2x.webp 2x"
            alt="Organic"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/power_pulse.webp"
            srcset="
              /img/covers/power_pulse.webp    1x,
              /img/covers/power_pulse@2x.webp 2x
            "
            alt="Power Pulse"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/ukrainian.webp"
            srcset="
              /img/covers/ukrainian.webp    1x,
              /img/covers/ukrainian@2x.webp 2x
            "
            alt="Ukrainian"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/body_shape.webp"
            srcset="
              /img/covers/body_shape.webp    1x,
              /img/covers/body_shape@2x.webp 2x
            "
            alt="Body Shape"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/english.webp"
            srcset="/img/covers/english.webp 1x, /img/covers/english@2x.webp 2x"
            alt="English"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/finances.webp"
            srcset="
              /img/covers/finances.webp    1x,
              /img/covers/finances@2x.webp 2x
            "
            alt="Finances"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/forms_and_nature.webp"
            srcset="
              /img/covers/forms_and_nature.webp    1x,
              /img/covers/forms_and_nature@2x.webp 2x
            "
            alt="Forms and Nature"
            width="544"
            height="314"
            loading="lazy"
          />
        </li>

        <li class="covers-item fourth">
          <img
            src="/img/covers/organic.webp"
            srcset="/img/covers/organic.webp 1x, /img/covers/organic@2x.webp 2x"
            alt="Organic"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/power_pulse.webp"
            srcset="
              /img/covers/power_pulse.webp    1x,
              /img/covers/power_pulse@2x.webp 2x
            "
            alt="Power Pulse"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/ukrainian.webp"
            srcset="
              /img/covers/ukrainian.webp    1x,
              /img/covers/ukrainian@2x.webp 2x
            "
            alt="Ukrainian"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/body_shape.webp"
            srcset="
              /img/covers/body_shape.webp    1x,
              /img/covers/body_shape@2x.webp 2x
            "
            alt="Body Shape"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/english.webp"
            srcset="/img/covers/english.webp 1x, /img/covers/english@2x.webp 2x"
            alt="English"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/finances.webp"
            srcset="
              /img/covers/finances.webp    1x,
              /img/covers/finances@2x.webp 2x
            "
            alt="Finances"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/forms_and_nature.webp"
            srcset="
              /img/covers/forms_and_nature.webp    1x,
              /img/covers/forms_and_nature@2x.webp 2x
            "
            alt="Forms and Nature"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/fruits_basket.webp"
            srcset="
              /img/covers/fruits_basket.webp    1x,
              /img/covers/fruits_basket@2x.webp 2x
            "
            alt="Fruits Basket"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/mimino.webp"
            srcset="/img/covers/mimino.webp 1x, /img/covers/mimino@2x.webp 2x"
            alt="Mimino"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/online_business.webp"
            srcset="
              /img/covers/online_business.webp    1x,
              /img/covers/online_business@2x.webp 2x
            "
            alt="Online Business"
            width="544"
            height="314"
            loading="lazy"
          />
        </li>

        <li class="covers-item fifth">
          <img
            src="/img/covers/forms_and_nature.webp"
            srcset="
              /img/covers/forms_and_nature.webp    1x,
              /img/covers/forms_and_nature@2x.webp 2x
            "
            alt="Forms and Nature"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/fruits_basket.webp"
            srcset="
              /img/covers/fruits_basket.webp    1x,
              /img/covers/fruits_basket@2x.webp 2x
            "
            alt="Fruits Basket"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/mimino.webp"
            srcset="/img/covers/mimino.webp 1x, /img/covers/mimino@2x.webp 2x"
            alt="Mimino"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/online_business.webp"
            srcset="
              /img/covers/online_business.webp    1x,
              /img/covers/online_business@2x.webp 2x
            "
            alt="Online Business"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/organic.webp"
            srcset="/img/covers/organic.webp 1x, /img/covers/organic@2x.webp 2x"
            alt="Organic"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/power_pulse.webp"
            srcset="
              /img/covers/power_pulse.webp    1x,
              /img/covers/power_pulse@2x.webp 2x
            "
            alt="Power Pulse"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/ukrainian.webp"
            srcset="
              /img/covers/ukrainian.webp    1x,
              /img/covers/ukrainian@2x.webp 2x
            "
            alt="Ukrainian"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/body_shape.webp"
            srcset="
              /img/covers/body_shape.webp    1x,
              /img/covers/body_shape@2x.webp 2x
            "
            alt="Body Shape"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/english.webp"
            srcset="/img/covers/english.webp 1x, /img/covers/english@2x.webp 2x"
            alt="English"
            width="544"
            height="314"
            loading="lazy"
          />
          <img
            src="/img/covers/finances.webp"
            srcset="
              /img/covers/finances.webp    1x,
              /img/covers/finances@2x.webp 2x
            "
            alt="Finances"
            width="544"
            height="314"
            loading="lazy"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
