<section class="hero-section">
  <div class="container hero">
    <h1>Hello.<br />I’m Fullstack developer<br />Lloyd Jefferson.</h1>
    <div class="hero-socials">
      <ul class="soc-list">
        <li>
          <a
            class="soc-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
          >
            IG
          </a>
        </li>
        <li>
          <a
            class="soc-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
          >
            FB
          </a>
        </li>
        <li>
          <a
            class="soc-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer"
          >
            YT
          </a>
        </li>
        <li>
          <a
            class="soc-link"
            href="https://github.com/Mioshanika/scriptify-portfolio-example"
            target="_blank"
            rel="noopener noreferrer"
          >
            GH
          </a>
        </li>
        <li>
          <a class="soc-link-mail" href="mailto:lloydjefferson@gmail.com">
            lloydjefferson@gmail.com
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
