<section class="project-section" id="projects">
  <div class="container project-main-container">
    <h2 class="project-main-title">Projects</h2>
    <div class="swiper-container">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="project-container">
            <div class="project-up">
              <ul class="projects-tags">
                <li class="projects-tag">#react</li>
                <li class="projects-tag">#js</li>
                <li class="projects-tag">#node js</li>
                <li class="projects-tag">#git</li>
              </ul>
              <h2 class="project-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h2>
              <a
                class="project-link"
                href="https://github.com/Mioshanika/scriptify-portfolio-example"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="project-down">
              <picture>
                <source
                  srcset="
                    /img/projects/read-journey-mob1x-min.jpg 1x,
                    /img/projects/read-journey-mob2x-min.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <source
                  srcset="
                    /img/projects/read-journey-tab1x-min.jpg 1x,
                    /img/projects/read-journey-tab2x-min.jpg 2x
                  "
                  media="(min-width: 768px) and (max-width: 1439px)"
                />
                <source
                  srcset="
                    /img/projects/read-journey-desk1x-min.jpg 1x,
                    /img/projects/read-journey-desk2x-min.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <img
                  src="/img/projects/read-journey-mob1x-min.jpg"
                  alt="registration on Read Journey."
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="project-container">
            <div class="project-up">
              <ul class="projects-tags">
                <li class="projects-tag">#react</li>
                <li class="projects-tag">#js</li>
                <li class="projects-tag">#node js</li>
                <li class="projects-tag">#git</li>
              </ul>
              <h2 class="project-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h2>
              <a
                class="project-link"
                href="https://github.com/Mioshanika/scriptify-portfolio-example"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="project-down">
              <picture>
                <source
                  srcset="
                    /img/projects/pet-love-mob1x-min.jpg 1x,
                    /img/projects/pet-love-mob2x-min.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <source
                  srcset="
                    /img/projects/pet-love-tab1x-min.jpg 1x,
                    /img/projects/pet-love-tab2x-min.jpg 2x
                  "
                  media="(min-width: 768px) and (max-width: 1439px)"
                />
                <source
                  srcset="
                    /img/projects/pet-love-desk1x-min.jpg 1x,
                    /img/projects/pet-love-desk2x-min.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <img
                  src="/img/projects/pet-love-mob1x-min.jpg"
                  alt="Petlove."
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="project-container">
            <div class="project-up">
              <ul class="projects-tags">
                <li class="projects-tag">#react</li>
                <li class="projects-tag">#js</li>
                <li class="projects-tag">#node js</li>
                <li class="projects-tag">#git</li>
              </ul>
              <h2 class="project-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h2>
              <a
                class="project-link"
                href="https://github.com/Mioshanika/scriptify-portfolio-example"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="project-down">
              <picture>
                <source
                  srcset="
                    /img/projects/vocabbuilder-mob1x-min.jpg 1x,
                    /img/projects/vocabbuilder-mob2x-min.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <source
                  srcset="
                    /img/projects/vocabbuilder-tab1x-min.jpg 1x,
                    /img/projects/vocabbuilder-tab2x-min.jpg 2x
                  "
                  media="(min-width: 768px) and (max-width: 1439px)"
                />
                <source
                  srcset="
                    /img/projects/vocabbuilder-desk1x-min.jpg 1x,
                    /img/projects/vocabbuilder-desk2x-min.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <img
                  src="/img/projects/vocabbuilder-mob1x-min.jpg"
                  alt="registration vocabbuilder"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>
      <div class="swiper-navigation">
        <div class="swiper-button-prev">
          <svg>
            <use xlink:href="/img/sprite.svg#icon-arrow-narrow-left" />
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg>
            <use xlink:href="/img/sprite.svg#icon-arrow-narrow-right" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
