@font-face {
  font-family: 'Inter Tight';
  src: url('../font/intertight-variablefont_wght.ttf') format('truetype');
}
:root {
  --font-family: 'Inter Tight', sans-serif;
  --background: #1c1d20;
  --cards: #242527;
  --arrow: #3b3b3b;
  --button-text: #ed3b44;
  --main-text: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--main-text);
  background-color: var(--background);
  position: relative;
}
