.page-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 32px 16px;
  background: transparent;
  z-index: 1000;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__logo {
  display: flex;
  align-items: flex-start;
}

.header__logo-img {
  margin-right: 8px;
  border-radius: 18px;
}

.header__logo-text {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
}

.burger-menu {
  width: 28px;
  height: 28px;
  background: none;
  border: none;
  display: block;
  stroke: white;
}

.menu-toggle {
  display: none;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/img/header/glass_effect-1x-min.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

@media (min-resolution: 192dpi) {
  .nav {
    background-image: url('/img/header/glass_effect-2x-min.jpg');
  }
}

/* Активне меню */
.nav.active {
  opacity: 1;
  visibility: visible;
}

/* Кнопка закриття */
.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  background: none;
  border: none;
  stroke: white;
}

/* Список навігації */
.nav__list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.nav__list li {
  margin: 15px 0;
}

.nav__list a {
  text-decoration: underline;
  text-underline-offset: 5px;
  letter-spacing: -0.02em;
  color: white;
  font-size: 24px;
  transition: 0.3s;
}

.nav__list a:hover {
  color: red;
}

.order-btn-mobile-menu {
  display: block;
  background: var(--button-text);
  border: none;

  position: absolute;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 60px;
  padding: 14px 31px;
  max-width: 164px;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main-text);
}

/* Кнопка "Order the project" */
.order-btn {
  display: none;
}

.order-btn a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }

  .order-btn-mobile-menu {
    display: none;
  }

  .order-btn {
    display: block;
    background: var(--button-text);
    border: none;

    border-radius: 60px;
    padding: 18px 24px;
    max-width: 163px;
    height: 55px;

    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: var(--main-text);
  }

  .menu-toggle {
    background: none;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: block;

    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-skip-ink: none;
    color: var(--main-text);
  }

  .nav {
    background: none;
    display: none;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 50%;
    width: fit-content;
    height: auto;

    transform: translateX(-50%);
  }

  .nav.active {
    display: flex;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
  }

  .nav__list li {
    margin: 0 15px;
  }

  .nav__list a {
    text-decoration: none;
    letter-spacing: -0.02em;
    transition: 0.3s;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration-skip-ink: none;
    color: var(--main-text);
  }

  .close-menu {
    display: none;
  }
}
