.scroll-to-top {
  position: fixed;
  bottom: 65px;
  right: 16px;
  z-index: 1;
  width: 50px;
  height: 50px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(80px);
  transition: opacity 0.2s ease-in, visibility 0.2s ease-in,
    transform 0.2s ease-in;
}
.scroll-to-top.active {
  opacity: 0.33;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}
.scroll-to-top:hover {
  opacity: 1;
}
.scroll-to-top:hover .scroll-to-top__button {
  background-color: #ed3b44;
  border-color: #ed3b44;
}
.scroll-to-top__button {
  width: 100%;
  height: 100%;
  padding: 3px;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--background);
  border: 1px solid #fafafa;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
}

@media (min-width: 768px) {
  .scroll-to-top {
    bottom: 65px;
    right: 32px;
    width: 60px;
    height: 60px;
  }
  .scroll-to-top__button {
    font-size: 18px;
  }
}
